* {
    box-sizing: border-box;
    font-family: "Gilroy";
}

.cs-navbar {
    background-color: #fff;
    height: 130px;
    justify-content: space-between;
}

.cs-navbar-nav>li {
    display: flex;
    margin-right: 20px;
    align-items: center;
}

.btn-black {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 1px;
    padding: 6px 30px
}

.cs-navbar-nav>li>a {
    color: #000000;
}

.cs-nav-center {
    align-items: center;
}

.cs-trial-btn {
    background-color: rgba(76, 175, 79, 1);
    color: hsl(0, 0%, 100%);
    border: 1px solid rgba(76, 175, 79, 1);
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;


}

.cs-banner {
    display: flex;
    margin-top: 50px;
    align-items: center;
    background-color: rgba(245, 247, 250, 1);
    height: 500px;
    width: 100%;


}

.cs-banner>div>.Green {
    color: green;
}

.cs-banner>div>button {
    background-color: rgba(76, 175, 79, 1);
    color: #fff;
    padding: 6px 30px
}

.cs-banner>div>img {
    float: right;
}


.client>h2 {
    text-align: center;

}


.p1>p {
    text-align: center;
}

.Logos {
    display: flex;
    justify-content: space-around;
}

.cs-manage {
    text-align: center;
    color: #515151;
}

.cs-manage>p {
    text-size-adjust: 10px;
}

.icons {
    display: flex;
    justify-content: space-around;
}

.heading>h1 {
    text-align: center;
}

.cs-btn>button {
    background-color: rgba(76, 175, 79, 1);
    color: #fff;
    border: #fff;
    border-radius: 4px;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
    padding: 6px 10px;
    margin-left: 47%;
}


.cs-Footer{
background-color: rgb(137, 139, 140);
display: flex;
justify-content: space-between;

}

.cs-Footer>